# Bleeding edge Django
django==2.2.6
python-decouple==3.1
django-cors-headers==2.2.0
django-polymorphic==2.1.2
django-cleanup==4.0.0
django-crispy-forms==1.7.2
django-pylibmc==0.6.1

# Storage
django-storages==1.7.2
dropbox==9.4.0

# Database
psycopg2-binary==2.7.6.1

# Fixtures
factory_boy==2.11.1

# CI
flake8==3.6.0

# Qr Code
qrcode==6.1
Pillow==6.1.0

# User Agent
pyyaml==5.1.2
ua-parser==0.8.0
user-agents==2.0
django-user-agents==0.4.0

# Server dependencies
whitenoise==4.1.2
gunicorn==19.9.0