{% extends 'base_with_nav.html' %}

{% load crispy_forms_tags %}

{% block title %}
Cadastro
{% endblock %}

{% block content %}
<h1 class="text-center">Cadastrar QR code</h1>
<hr>
<div class="col-md-6 offset-md-3">
    <div class="row text-center">
        <div class="col-md-12">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        Escolha o Tipo de QrCode
                    </div>
                    <div class="card-body">
                        <button class="btn btn-info" data-toggle="collapse" data-target="#file-form">Arquivo</button>
                        <button class="btn btn-info"  data-toggle="collapse" data-target="#url-form">URL</button>
                        <button class="btn btn-info"  data-toggle="collapse" data-target="#video-form">Video</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="row" id="forms">
        <div class="col-md-12 collapse" data-parent="#forms" id="file-form">
            <form method="post" enctype="multipart/form-data" name="file_form">
                {% csrf_token %}
                {{ Arquivo_form|crispy }}
                <button type="submit" class="btn btn-success">Cadastrar</button>
            </form>
        </div>
        <div class="col-md-12 collapse" data-parent="#forms" id="url-form">
            <form method="post" name="url_form">
                {% csrf_token %}
                {{ URL_form|crispy }}
                <button type="submit" class="btn btn-success text">Cadastrar</button>
            </form>
        </div>
        <div class="col-md-12 collapse" data-parent="#forms" id="video-form">
            <form method="post" name="url_form">
                {% csrf_token %}
                {{ Video_form|crispy }}
                <button type="submit" class="btn btn-success text">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}