{% extends 'base_with_nav.html' %}

{% block title %}
Listagem
{% endblock %}

{% block content %}
<h1 class="text-center">QR codes</h1>

{% if qrcodes %}
    <div class="col-md-12 table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th>Tipo</th>
                <th>Nome</th>
                <th>Conteúdo</th>
                <th>Logo</th>
                <th>Imagem</th>
                <th class="col-md-1">Detalhar</th>
                <th class="col-md-1">Ver QR</th>
            </tr>
            {% for qr in qrcodes %}
                <tr>
                    <td>{{ qr.type }}</td>
                    <td>{{ qr.name }}</td>
                    <td><a target="_blank" href="{{ qr.value }}">{{ qr.value }}</a></td>
                    <td><a href="/logos/atualizar/{{ qr.logo.id }}">{{ qr.logo.name }}</a></td>
                    <td><a target="_blank" href="{{ qr.image.url }}">{{ qr.image.url }}</a></td>
                    <td><a class="btn btn-info" href="{% url 'qr_atualizar' qr.id %}">Detalhar</a></td>
                    <td><a class="btn btn-primary" href="{% url 'ver_qr' qr.label %}">Ver QR</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% if is_paginated %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% else %}
    <p style="text-align: center;">Sem QR Codes cadastrados!</p>
{% endif %}
{% endblock %}