{% extends 'base.html' %}

{% block title %}
Resolve
{% endblock %}

{% block content %}
<h1 class="text-center">Resolve Qr Code</h1>
<hr>
{% if qrcode.type != 'URL' %}
    {% if qrcode.type == 'Arquivo' %}
        <h4 class="text-center">
            <a href="{{ qrcode.value }}">Baixar arquivo</a>
        </h4>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://docs.google.com/viewer?url={{ qrcode.file_url }}&embedded=true" frameborder="0"></iframe>
        </div>
    {% elif qrcode.type == 'Video' %}
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ qrcode.value }}" allowfullscreen></iframe>
        </div>
    {% endif %}
{% endif %}
{% endblock %}

{% block script %}
{% if qrcode.type == 'URL' %}
    <script type="text/javascript">
        $(document).ready(function() {
           window.setTimeout(window.location.href = "{{ qrcode.value }}", 5000);
        });
    </script>
{% endif %}
{% endblock %}