{% extends 'base_with_nav.html' %}
{% load static %}

{% load leaflet_tags %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
{% leaflet_css %}
<link rel="stylesheet" href="{% static 'css/my_leaflet.css' %}" />
{% endblock %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<h1 class="text-center">Dashboard</h1>
<hr>
<!--{% for qrcode in qrcodes %}-->
<!--    <p>-->
<!--        {{ qrcode }}-->
<!--        {{ qrcode.leaflet_options }}-->
<!--        {{ qrcode.access.count }}-->
<!--        <ul>-->
<!--            {% for access in qrcode.access.all %}-->
<!--                <li>{{ access }}</li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--    </p>-->
<!--{% endfor %}-->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab"
           href="#timeline" role="tab" aria-controls="home" aria-selected="true">Timeline</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab"
           href="#pie" role="tab" aria-controls="profile" aria-selected="false">Gráficos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab"
           href="#map" role="tab" aria-controls="contact" aria-selected="false">Mapa</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active col-md-8 offset-md-2" id="timeline" role="tabpanel" aria-labelledby="home-tab">
        <div id="line_chart"></div>
    </div>
    <div class="tab-pane fade" id="pie" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
            <div class="col-md-4">
                <div id="os_chart"></div>
            </div>
            <div class="col-md-4">
                <div id="device_chart"></div>
            </div>
            <div class="col-md-4">
                <div id="browser_chart"></div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade col-md-8 offset-md-2" id="map" role="tabpanel" aria-labelledby="contact-tab">
        {% leaflet_map "leaflet_map" %}
    </div>
</div>

{% endblock %}

{% block script %}
{% leaflet_js %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    window.addEventListener("map:init", function (e) {
        var detail = e.detail;
        var map = detail.map

        {% for qrcode in qrcodes %}
            {% if qrcode.coordinates %}
                L.marker({{ qrcode.coordinates }}, {
                    title: {{ qrcode.access.count }},
                    icon: L.BeautifyIcon.icon({{ qrcode.leaflet_options|safe }})
                }).addTo(map).bindPopup("popup").bindPopup("Esse QR Code teve "+{{ qrcode.access.count }}+" acessos!");
            {% endif %}
        {% endfor %}
    }, false);

    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);
    google.charts.setOnLoadCallback(drawOSChart);
    google.charts.setOnLoadCallback(drawDeviceChart);
    google.charts.setOnLoadCallback(drawBrowserChart);

</script>
{% endblock %}