{% extends 'base_with_nav.html' %}
{% load static %}

{% load leaflet_tags %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
{% leaflet_css %}
<link rel="stylesheet" href="{% static 'css/my_leaflet.css' %}" />
{% endblock %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<h1 class="text-center">Dashboard</h1>
<hr>
{% for qrcode in qrcodes %}
    <p>
        {{ qrcode }}
        {{ qrcode.leaflet_options }}
        {{ qrcode.access.count }}
        <ul>
            {% for access in qrcode.access.all %}
                <li>{{ access }}</li>
            {% endfor %}
        </ul>
    </p>
{% endfor %}
{% for access in access_list %}
    <p>
        {{ access }}
    </p>
{% endfor %}
<div class="col-md-6 offset-md-3">
    {% leaflet_map "main" callback="map_init" %}
</div>
{% endblock %}

{% block script %}
{% leaflet_js %}

<script type="text/javascript">
    function map_init(map, options) {
        var bMarker = L.BeautifyIcon.icon({
            icon: 'map-marker-alt',

        {% for qrcode in qrcodes %}
            L.marker({{ qrcode.coordinates }}, {
                title: {{ qrcode.access.count }},
                icon: L.BeautifyIcon.icon({{ qrcode.leaflet_options|safe }})
            }).addTo(map).bindPopup("popup").bindPopup("Esse QR Code teve "+{{ qrcode.access.count }}+" acessos!");
        {% endfor %}
<!--        L.marker([lat, lon]).addTo(map);-->
    }
</script>
{% endblock %}