<style>

    .leaflet-container {  /* all maps */
        width:  600px;
        height: 800px;
    }

    #specialbigmap {
        height: 800px;
    }

    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        width: 100%;
    }

</style>
