events {

}

http {
  error_log /etc/nginx/error.log warn;
  client_max_body_size 20m;

  server {
    server_name server.your.domain;

    location /setur/qrcode/ {
      # proxy_set_header X-Forwarded-Protocol $scheme;
      # proxy_set_header X-Real-IP $remote_addr;
      # proxy_set_header Host $http_host;
      # proxy_set_header X-Scheme $scheme;
      # proxy_set_header X-Forwarded-For $remote_addr;
      # proxy_set_header X-Forwarded-Host localhost;
      proxy_pass http://django:8000/;
      rewrite ^/django(.*)$ $1 break;
    }

    location /setur/qrcode/static/ {
      include /etc/nginx/mime.types;
      alias /static/;
    }

    location /setur/qrcode/media/ {
      alias /media/;
    }

    listen 80;
    # listen 443 ssl;
    # ssl_certificate /etc/letsencrypt/live/server.your.domain/fullchain.pem;
    # ssl_certificate_key /etc/letsencrypt/live/server.your.domain/privkey.pem;
    # include /etc/letsencrypt/options-ssl-nginx.conf;
  }
}