{% extends 'base.html' %}

{% load static %}

{% block nav %}
<section class="header-log"><h1 class="logo-prefeitura">
<img id="logo-prefeitura" src="{%static 'imgs/logo_prefeituran.svg' %}"></div>
</h1>
</section>
{% endblock %}

{% block footer %}
<!--<nav class="navbar sticky-bottom navbar-light bg-light">-->
<!--    <p class="navbar-text">-->
<!--        Código livre (GPL3): <a href="https://github.com/rodrigondec/qrcode/" target="_blank">https://github.com/rodrigondec/qrcode/</a>-->
<!--    </p>-->
<!--</nav>-->
{% endblock %}