<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load leaflet_tags %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fonts_awesome.css' %}" />
    {% leaflet_css %}
    <link rel="stylesheet" href="{% static 'css/custom_leaflet.css' %}" />
    {% block style %}
    {% endblock %}

    <title>
        QrCoder - {% block title %}{% endblock %}
    </title>
</head>
<body>
    {% block nav %}
    {% endblock %}

    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
    {% endblock %}

    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/google_charts.js' %}"></script>
    {% leaflet_js %}

    {% block script %}
    {% endblock %}
</body>
</html>