{% extends 'base.html' %}

{% block title %}
Resolve
{% endblock %}

{% block content %}
<h1 class="text-center">Resolve URL Qr Code</h1>
<p class="text-center">
    Caso você não seja redirecionado em 3 segundos, clique <a href="{{ qrcode.value }}">nesse link</a>
</p>


{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
       setTimeout(function () {
           window.location.href = "{{ qrcode.value }}";
        }, 3000);
    });
</script>
{% endblock %}